<!DOCTYPE html>
<html>
    <head>
        <!-- Header inclusion-->
        <%- include ../template/header.ejs %>
    </head>
    <body class="bg">
        <%- include ../template/navbar.ejs %>
        <br \ />
        <div class="card col-10 mx-auto" style="background-color: #fcfffd;">
            <br \ />
            <h1 class="hdb" style="font-size: 3em;"><%= title %></h1>
            <h6 class="mb-2 text" style="display: inline">
                <b><%= branchData[0].type%></b> |
                <span><%= branchData[0].description%></span>
            </h6>
            <br \ />
            <% if(branchData[0].file !== 'No photos available!') {%>
                <img src="<%= branchData[0].file%>" class="rouded col-6" />
            <%} %>
            <br/>


            <% if(currentUser && currentUser.iscustomer) { %>
                <h2 class="hdb col-6">Your Review</h2>
            <form
                action="/branches/addReview?rid=<%= branchData[0].rid%>"
                method="post"
                class="needs-validation"
                novalidate
            >
                <div class="form-row">

                        <div class = "col-sm-2">

                                <div class="form-group">
                                    <span class = "hdb col-4 mx-2" for="score" style="font-size: 2em">Score: </span>
                                        <select class="form-control col-6 mx-4" id="score" name ="score">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>

                                </div>

                                <button type="submit" class="btn btn-primary col-md-6 mx-4">Post</button>

                            </div>
                    <div class="form-group col-md-9">

                                <label for="branch" >For which branch?</label>
                                <select name="branch" id="branch" class="form-control my-2" required pattern="[A-Za-z0-9]{1,100}">
                                    <option></option>
                                    <% for (var i = 0; i<branchData.length; i++) { %>
                                        <option>
                                            <%= branchData[i].location%>
                                        </option>
                                    <% } %>
                                </select>
                                <div class="invalid-feedback">
                                        Please select a branch!
                                </div>

                        <textarea
                            class="form-control"
                            id="review"
                            name="review"
                            placeholder="Been here? Liked it? Disliked it? Leave a review!"
                            style="height:8em"
                            required
                        ></textarea>
                        <div class="invalid-feedback">
                            Field cannot be left blank
                        </div>
                    </div>



                </div>

            </form>
            <% } %>

            <br/>

            <h2 class="hdb col-6">Ratings</h2>

            <% for (var i =0; i<Math.min(3, ratingData.length); i++) { %>

            <div class="row col-12">
                <div class="col-12">
                    <div class="card my-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= ratingData[i].name%>

                                <% var color = "#5eff3a"; if (ratingData[i].score<3) {color = "red"} %>
                                <div class="badge text-wrap" style="font-size: 1em; width: 2em; background-color:  <%= color %>" >
                                        <%= ratingData[i].score %>
                                </div>
                            </h5>
                            <h6
                                class="mb-2 text text-muted"
                                style="display: inline"
                            >
                                <b><%= ratingData[i].location%></b> |
                                <span><% var time = JSON.stringify(ratingData[i].timestamp);%><%= time.slice(1, time.indexOf("T"));%></span>
                            </h6>
                            <p class="card-text my-1">
                                <%= ratingData[i].review%>
                            </p>

                            <% if (currentUser && currentUser.isowner && ratingData[i].textresponse == "") { %>
                            <% } %>
                            <div class="col-12">
                                    <div class="card my-2">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= title%>'s response:
                                            </h5>

                                            <p class="card-text my-1">
                                                <h6
                                                    class="mb-2 text text-muted"
                                                    style="display: inline"
                                                >
                                                <span><% var time = JSON.stringify(ratingData[i].timestamp);%><%= time.slice(1, time.indexOf("T"));%>:</span>
                                                </h6>
                                                <%= ratingData[i].textresponse%>
                                            </p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% } %>
            <% if (ratingData.length>3) { %>
                <a href="/branches/ratings?rid=<%= branchData[0].rid%>&name=<%=title%>" class="btn btn-primary col-3 mx-3" > Show More </a>
            <% } %>

            <br/>

            <h2 class="hdb col-6">Branch Locations</h2>
            <% for(var i =0; i<(branchData.length); i+=2) { %>
            <div class="row col-12">
                <div class="col-sm-6">
                    <form action="/reservation?name=<%= branchData[i].name%>&address=<%= branchData[i].address%>" method="post">
                        <input type="hidden" id="nameinput" name="name" value="<%= branchData[i].name%>"/>
                        <input type="hidden" id="addressinput" name="address" value="<%= branchData[i].address%>"/>
                        <div class="card my-2" style="height: 12em">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= branchData[i].location%>
                                </h5>
                                <p class="card-text my-1">
                                    <%= branchData[i].address%>
                                </p>
                                <p class="card-text my-1">
                                    Tel: <%= branchData[i].pnumber%>
                                </p>
                                <button class="btn btn-primary">
                                    Reserve
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <% if(i+1 < branchData.length) { %>
                    <div class="col-sm-6">
                        <form action="/reservation?name=<%= branchData[i+1].name%>&address=<%= branchData[i+1].address%>" method="post">
                            <input type="hidden" id="nameinput" name="name" value="<%= branchData[i+1].name%>"/>
                            <input type="hidden" id="addressinput" name="address" value="<%= branchData[i+1].address%>"/>
                            <div class="card my-2 " style="height: 12em">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= branchData[i+1].location%>
                                    </h5>
                                    <p class="card-text my-1">
                                        <%= branchData[i+1].address%>
                                    </p>
                                    <p class="card-text my-1">
                                        Tel: <%= branchData[i+1].pnumber%>
                                    </p>
                                    <button class="btn btn-primary">
                                        Reserve
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                <%} %>
            </div>
            <%} %>
            <br />
        </div>
    </body>
</html>
