<!DOCTYPE html>
<html>
    <head>
        <!-- Header inclusion-->
        <%- include ../template/header.ejs %>
    </head>
    <body class="bg">
        <%- include ../template/navbar.ejs %>
        <br \>
        <h1 class="hd" style="font-size: 3em;" ><%= title %></h1>
        <br \>
        <% for(var i =0; i<data.length; i++) { %>
            <a href="/reservation?name=<%= data[i].name%>&address=<%= data[i].address%>" class="card-link" style="color: #000">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold; font-size: 25px;"><%= data[i].location%></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= data[i].address%></h6>
                        <p class="card-text"><%= data[i].pnumber%></p>
                    </div>
                </div>
                <br \>
            </a>
        <%} %>
    </body>
</html>