<!DOCTYPE html>
<html>
    <head>
        <!-- Header inclusion-->
        <%- include ../template/header.ejs %>
    </head>
    <body class="bg">
        <%- include ../template/navbar.ejs %>
        <br \ />
        <div class="card col-10 mx-auto" style="background-color: #fcfffd;">
            <br \ />
            <h1 class="hdb" style="font-size: 3em;">
                <%= title %>
            </h1>
            <h6 class="mb-2 text" style="display: inline">
                <b><%= branchData[0].type%></b> |
                <span><%= branchData[0].description%></span> | <% var color =
                "#5eff3a"; if (avg<3) {color = "red"} %>
                <div
                    class="badge text-wrap"
                    style="font-size: 1em; width: 3.5em; background-color:  <%= color %>"
                >
                    <%= avg.slice(0,4)%>
                </div>
            </h6>
            <h2 class="hdb col-6">Owner's Profile</h2>
            <div class="row col-12">
                <div class="col-6">
                    <h5><b>Name:</b><br \ /><%= currentUser.name%></h5>
                </div>
                <div class="col-6">
                    <h5>
                        <b>E-mail:</b><br \ />
                        <%=currentUser.email%>
                    </h5>
                </div>
            </div>
            <br />

            <div class="row col-12" style="height: 10em">
                <h2 class="hdb col-6">Reservations</h2>
                Need to write: This button should take you to a page that
                displays all of a restaurant's reservations. The owner can
                complete a reservation, which will remove it from the database.
                <div class="col-6">
                    <a class="btn btn-primary align-self-center" href="/account/reservation">Show All Reservations</a>
                </div>
                
            </div>

            <br />
            <h2 class="hdb col-6">Ratings</h2>
            <div class="row col-12">
                <div class="col-6">
                    <a
                        href="/branches/ratings?rid=<%= branchData[0].rid%>&name=<%=title%>"
                        class="btn btn-primary"
                    >
                        Show All Ratings
                    </a>
                </div>
            </div>

            <br />
            <h2 class="hdb col-12">Have a new branch? Tell us more about it!</h2>
            <div class="row col-12">
                <form
                    action="/restaurant/add"
                    method="post"
                    class="needs-validation col-12"
                    novalidate
                >
                    <input
                        type="hidden"
                        id="resName"
                        name="resName"
                        value="<%= title%>"
                    />
                    <div class="form-group">
                        <label for="resAddr">Branch Address</label>
                        <input
                            type="text"
                            class="form-control col-8"
                            zid="resAddr"
                            name="resAddr"
                            placeholder="Address of the new branch"
                            required
                        />
                        <div class="invalid-feedback">
                            Field cannot be left blank
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="resPnum">Phone Number</label>
                            <input
                                type="text"
                                class="form-control"
                                id="resPnum"
                                name="resPnum"
                                placeholder="XXXXXXXX"
                                pattern="[0-9]{8}"
                                required
                            />
                        </div>
                        <div class="invalid-feedback">
                            Invalid input
                        </div>
                        <div class="col-1"></div>
                        <div class="form-group col-4">
                            <label for="resLoc">Branch Location</label>
                            <input
                                type="text"
                                class="form-control"
                                id="resLoc"
                                name="resLoc"
                                placeholder="i.e. Raffles City Shopping Centre"
                                required
                            />
                            <div class="invalid-feedback">
                                Field cannot be left blank
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Add
                    </button>
                </form>
            </div>

            <br />

            <h2 class="hdb col-6">Branch Locations</h2>
            <% for(var i =0; i<(branchData.length); i+=2) { %>
            <div class="row col-12">
                <div class="col-sm-6">
                    <form
                        action="/reservation?name=<%= branchData[i].name%>&address=<%= branchData[i].address%>"
                        method="post"
                    >
                        <input
                            type="hidden"
                            id="nameinput"
                            name="name"
                            value="<%= branchData[i].name%>"
                        />
                        <input
                            type="hidden"
                            id="addressinput"
                            name="address"
                            value="<%= branchData[i].address%>"
                        />
                        <div class="card my-2" style="height: 8em">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= branchData[i].location%>
                                </h5>
                                <p class="card-text my-1">
                                    <%= branchData[i].address%>
                                </p>
                                <p class="card-text my-1">
                                    Tel: <%= branchData[i].pnumber%>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <% if(i+1 < branchData.length) { %>
                <div class="col-sm-6">
                    <form
                        action="/reservation?name=<%= branchData[i+1].name%>&address=<%= branchData[i+1].address%>"
                        method="post"
                    >
                        <input
                            type="hidden"
                            id="nameinput"
                            name="name"
                            value="<%= branchData[i+1].name%>"
                        />
                        <input
                            type="hidden"
                            id="addressinput"
                            name="address"
                            value="<%= branchData[i+1].address%>"
                        />
                        <div class="card my-2 " style="height: 8em">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= branchData[i+1].location%>
                                </h5>
                                <p class="card-text my-1">
                                    <%= branchData[i+1].address%>
                                </p>
                                <p class="card-text my-1">
                                    Tel: <%= branchData[i+1].pnumber%>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <%} %>
            </div>

            <% } %>
            <br />
        </div>
    </body>
</html>
