<!DOCTYPE html>
<html>
    <head>
        <!-- Header inclusion-->
        <%- include ../template/header.ejs %>
    </head>
    <body class="bg">
        <%- include ../template/navbar.ejs %>
        <br \ />

        <h1 class="hd" style="font-size: 3em;"><%= title%>'s Ratings</h1>

        <% for (var i =0; i<data.length; i++) { %>

                <div class="row col-12">
                    <div class="col-12">
                        <div class="card my-2">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= data[i].name%>
                                    <% var color = "#5eff3a"; if (data[i].score<3) {color = "red"} %>
                                    <div class="badge text-wrap" style="font-size: 1em; width: 2em; background-color:  <%= color %>" >
                                        <%= data[i].score %>
                                    </div> 
                                </h5>
                                <h6
                                    class="mb-2 text text-muted"
                                    style="display: inline"
                                >
                                    <b><%= data[i].location%></b> |
                                    <span><%= data[i].timestamp%></span>
                                </h6>
                                <p class="card-text my-1">
                                    <%= data[i].review%>
                                </p>
    
                                <% if (currentUser && currentUser.isowner && data[i].textresponse == "") { %> 
                                <% } %>
                                <div class="col-12">
                                        <div class="card my-2">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= title%>'s response:
                                                </h5>
                                                <h6
                                                    class="mb-2 text text-muted"
                                                    style="display: inline"
                                                >
                                                    <span><%= data[i].timestamp%></span>
                                                </h6>
                                                <p class="card-text my-1">
                                                    <%= data[i].textresponse%>
                                                </p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <% } %>
    </body>
</html>
